{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% load i18n %}
{% block head %}
<title>logout</title>
{% endblock%}
{% block nav %}
<ul class="nav navbar-nav navbar-right">
	<form method="POST" action="{% url 'login' %}">
		{% csrf_token %}
		<button type="submit" class="btn btn-outline-dark">login</button>
	</form>
</ul>
</div>
{% endblock %}
{% block content %}
<div class="content-body">
	<div class="container">
		<div class="row">
			<main class="col-sm">
				<article class="post post-1">
					<header class="entry-header">
						<h1 class="entry-title"><strong>{% trans "See You Soon" %}</strong></h1>
					</header>				
					<div class='image_container_logout'>
						<img class='image_cube' src="{% static 'img/image.png' %}">
					</div>
				</article>
			</main>
		</div>
	</div>
</div>
{% endblock %}